:root {
  --black: #000000;
  --medium-black: #3C3C3C;
  --light-black: #393333;
  --dark-gray: #8B8B8B;
  --medium-gray: #BBBBBB;
  --light-gray: #D2D2D2;
  --dark-white: #DEDEDE;
  --white: #ffffff;
  --btn-background: #16DB99;
  --input-border: #757575;
  --bg-order-complete: #ECFDF5;
  --fc-order-complete: #065F46;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility */

.ff-primary {
  font-style: normal;
  font-weight: 400;
  font-family: "Smythe", serif;
}

.hidden {
  display: none;
}

/* app */

.app {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: auto;
}

/* banner */

header {
  position: relative;
  margin: 0;
  width: 100%;
  height: 167px;

  .banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 65%;
  }

  .banner-text {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 16px;
    inset: 50px 40px;
  }

  .banner-title {
    color: var(--white);
    font-size: 2.5rem;
    line-height: 24px;
  }

  .banner-subtitle {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 14px;
  }
}

main {
  padding: 0 46px;
}

/* menu */

.app-menu {
  box-sizing: border-box;
  padding: 52px 0;
  width: 100%;
  height: auto;

  .item-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: var(--light-gray) 1px solid;
    padding-bottom: 50px;
    width: 100%;

    .item-img {
      position: relative;
      left: -2%;
      font-weight: 400;
      font-size: 4.875rem;
      line-height: 98px;
    }

    .item-info {
      .item-title {
        font-size: 1.75rem;
      }

      .item-description {
        color: var(--dark-gray);
        line-height: 24px;
      }

      .item-price {
        font-size: 1.25rem;
        line-height: 24px;
      }
    }

    .btn-add {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      border: var(--dark-white) 1px solid;
      border-radius: 50%;
      background: none;
      width: 50px;
      height: 50px;
      color: var(--medium-black);
      font-weight: 200;
      font-size: 32px;
      line-height: 24px;
      font-family: 'inter', sans-serif;
    }
  }
}

/* order checkout */

.order-checkout {

  .order-checkout-container {
    .order-title {
      margin-bottom: 64px;
      font-size: 1.75rem;
      text-align: center;
    }

    .order-details {
      display: flex;
      align-items: center;

      .order-item {
        margin-right: 14px;
        font-size: 1.75rem;
      }

      .btn-remove {
        align-self: end;
        appearance: none;
        border: none;
        background: none;
        color: var(--medium-gray);
        font-size: 0.75rem;
        line-height: 24px;
      }

      .order-price {
        margin-left: auto;
      }
    }

    .divider {
      margin: 30px 0 14px;
      border: var(--light-black) 2px solid;
      width: 100%;
    }

    .order-total-price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .order-total-price-title {
        font-size: 1.75rem;
        line-height: 24px;
      }

    }

    .btn-complete-order {
      box-sizing: border-box;
      margin: 52px 0;
      box-shadow: 0px 1px 2px 0px #0000000D;
      border: none;
      border-radius: 3px;
      background-color: var(--btn-background);
      padding: 18px;
      width: 100%;
      color: var(--white);
      font-weight: 700;
      line-height: 24px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

/* payment modal */

.payment-modal {
  .modal-container {
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    margin: auto;
    inset: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--white);
    padding: 30px 24px;
    width: 524px;
    height: fit-content;

    .modal-title {
      margin-bottom: 46px;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 32px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }

    .payment-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;

        input {
          border: 1.3px solid var(--input-border);
          border-radius: 2px;
          height: 72px;
          font-size: 1.25rem;
          font-family: Verdana, Geneva, Tahoma, sans-serif;

          &::placeholder {
            padding-left: 26px;
            color: var(--input-border);
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }
        }
      }

      .btn-pay {
        appearance: none;
        box-sizing: border-box;
        margin-top: 46px;
        border: none;
        border-radius: 4px;
        background-color: var(--btn-background);
        padding: 14px 0;
        width: 100%;
        color: var(--white);
        font-weight: 700;
        font-size: 1rem;
        line-height: 32px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }
}

/* order complete */

.order-complete {
  .order-status {
    border-radius: 3px;
    background-color: var(--bg-order-complete);
    padding: 52px 0;
    color: var(--fc-order-complete);
    font-size: 2rem;
    text-align: center;
  }
}